{% extends "clubinferno/base.html" %}
{% block content %}
  {% if beers_list %}
    <div class="sponsor-container">
      {% for beer in beers_list %}
      <a href=#{{beer.id}}>
        <div class='sponsor'>
          {% if beer.picture %}
              <img src='{{beer.picture.url}}' />
          {% endif %}
          <h2>{{beer.name}}</h2></img>
        </div>
      </a>
      <div id="{{beer.id}}" class=overlay2>
        <div class=popup>
          <h2>{{beer.name}}</h2>
          <a id=close href=#>&times;</a>
          {% if beer.picture %}
              <img src='{{beer.picture.url}}' />
          {% endif %}
          {% if beer.description %}
              <p>{{beer.description}}</p>
          {% endif %}
          {% if beer.website %}
              <a href='{{beer.website}}'><i class='fa fa-globe' aria-hidden='true'></i> Vai al sito!</a>
          {% endif %}
        </div>
      </div>" {% endfor %}
    </div>
    {% else %}
    <p>No beers.</p>
  {% endif %}
{% endblock content %}
