{% load static %}
<!DOCTYPE html>
<html lang="it">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Club Inferno</title>
  <meta name="description" content="Club Inferno, Centro Sportivo Educativo Nazionale">
  <meta name="keywords" content="bar, rock, inferno, circolo, club inferno, club, radical spaghetti">
  <meta name="author" content="Radical Spaghetti">

  <!-- Stylesheet and other stuffs -->
  <link rel="stylesheet" type="text/css" href="{% static 'clubinferno/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'clubinferno/fonts/RM_Typerighter_old_Regular/RM_Typerighter_old_Regular.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'clubinferno/fonts/RM_Typerighter_Regular/RM_Typerighter_Regular.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'clubinferno/fonts/Font_Awesome/css/font-awesome.css' %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'clubinferno/js/showHideMobile.js' %}"></script>
  <script type="text/javascript" src="{% static 'clubinferno/js/hidePopup.js' %}"></script>
  {% block head %}
  {% endblock head %}

</head>

<body id="background">
  <div class="overlay">
    <!-- <div class="newsbox">
      <span>Notizie</span>
      <div class="news">
        <?php
                    require 'php/config.php';
                    $sql = "SELECT *
                            FROM notizia
                            ORDER BY data DESC
                            LIMIT 5";
                    $result = $conn->query($sql);
                    if ($result->num_rows > 0) {
                        while ($row = $result->fetch_assoc()) {
                            echo "<hr>";
                            echo "<div>";
                            echo "<h2>" . htmlentities(utf8_encode($row['titolo']), 0, 'UTF-8') . "</h2>";
                            echo "<img src='img/notizie/$row[immagine]'/>";
                            echo "<p>" . htmlentities(utf8_encode($row['testo']), 0, 'UTF-8') . "</p>";
                            echo "</div>";
                            echo "<br>";
                        }
                    }
                ?>
      </div>
    </div> -->
    {% block content %}
    {% endblock content %}
  </div>
</body>
<script>
  $(function() {
    $('.hamburger').click(function() {
      showHideMobile();
    });

    $(".dimmer").click(function() {
      showHideMobile();
    });

    $('li .icon-arrow').click(function() {
      $(this).parent().parent().toggleClass('showSubmenu');
    });
  });
  hidePopup();
</script>

</html>
